<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<html>
<head>


	<script th:src="@{/assets/js/account/findid.js}"></script>
	<meta charset="EUC-KR">
<meta charset="EUC-KR">
<title>아아디 찾기</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container py-5">
			<div class="row d-flex align-items-center justify-content-center h-100">
				<div class="col-md-12 col-lg-5 col-xl-5 offset-xl-1 " style="right:60px">
					<!--login form-->
					<form id="joinForm" autocomplete="off">
						<input type="hidden" id="authType" name="authType" value="E">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<!-- 회원가입 -->
							<label class="form-label fw-bold" for="form1Example3"
								style="font-size: 25px; font-family: 'Noto Sans KR', sans-serif;">아아디 찾기 </label>
						</div>
						<div class="form-group">
							<label class="control-label" for="signupName">휴대전화</label>
				            <select class="form-control border-color" id="countryPhNo" name="countryPhNo" style="text-align: center;">
							    <option th:each="item : ${yourDataList}" th:value="${item.value}" th:text="${item.text}"></option>
							</select>
							<div class="row">
								<div class="col-xl-12" style="display: flex; align-items: center;">
						            <input id="phoneNumber" type="phone" name="phoneNumber" class="form-control mr-2" style="flex: 1;" placeholder="전화번호 입력해주세요.(-제외)" autocomplete="off">
						            <button type="button" class="btn btn-primary btn-lg border-0 fw-bold" id="authReq"
						                    style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif; width: auto; font-size: 14px; width: 23%;">
						                인증요청
						            </button>
						        </div>
							</div>
							<input id="authNo" name= "authNo" type="text" maxlength="4" class="form-control" placeholder="인증번호 입력" autocomplete="off">
							<div class="invalid-feedback" data-sb-feedback="authNo:required">인증번호 입력 해주세요</div>
						</div>
							<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-lg btn-block border-0 fw-bold" id="findIdBtn"
							style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif;">아이디 찾기 </button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>