<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<script th:src="@{/assets/js/account/join.js}"></script>
	<meta charset="EUC-KR">
	<title>회원가입</title>
<style>

	.error_text.item_style {
    position: relative;
    letter-spacing: -.4px;
	}
	.error_text {
    margin: 10px 4px 0;
    font-size: 13px;
    line-height: 18px;
    color: #ff3f3f;
    }
    input::placeholder {
        font-size: 14px; /* 원하는 크기로 조정 */
    }
  
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container py-5 h-100">
			<div class="row d-flex align-items-center justify-content-center h-100">
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 " style="right:60px">
					<!--login form-->
					<form id="joinForm" autocomplete="off">
						<input type="hidden" id="authType" name="authType" value="J">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<!-- 회원가입 -->
							<label class="form-label fw-bold" for="form1Example3"
								style="font-size: 25px; font-family: 'Noto Sans KR', sans-serif;">회원가입 </label>
						</div>
						<!-- 아아디 -->
						<div class="form-group" id="idForm">
							<input type="hidden" value="N" id="doubleChk" name="dobuleChk">
						    <label class="control-label" for="emailSelect">이메일</label>
						    <div class="d-flex align-items-center">
						        <input id="usrEmail" name="usrEmail" type="text" class="form-control" placeholder="아이디 입력" autocomplete="off"
						            data-sb-validations="required email">
						        <span class="mx-2">@</span>
						        <input class="form-control" id="domainTxt" name="domainTxt" type="text" placeholder="직접 입력" autocomplete="off" />
						        <div class="invalid-feedback" data-sb-feedback="email:required">이메일을 입력해주세요.</div>
						        <select class="form-select" id="emailDomainSelect">
						            <option value="">직접 입력</option>
						            <option value="gmail.com">gmail.com</option>
						            <option value="yahoo.com">yahoo.com</option>
						            <option value="naver.com">naver.com</option>
						            <!-- 기타 옵션들 추가 -->
						        </select>
						    </div>
						</div>
						<div class="row">
						    <div class="col-md-3 offset-md-9">
						        <button type="button" class="btn btn-primary btn-lg border-0 fw-bold" id="emailChkBtn"
						                style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif; width: 100%;
						                height: auto; font-size: 14px; padding-top: 5px; padding-bottom: 5px; display: flex;
						                justify-content: center; align-items: center;">중복체크</button>
						    </div>
						</div>
						<!-- 비말번호 -->
						<div class="form-group">
							<label class="control-label">비밀번호</label>
							<input id="password" name="password" type="password" maxlength="16" minlength="8" class="form-control" placeholder="비밀번호 입력"  autocomplete="new-password">
							<div class="invalid-feedback" data-sb-feedback="password:required">비밀번호를 입력해주세요.</div>
						</div>
						<!-- 비밀번호 확인 -->
						<div class="form-group">
							<label class="control-label" >비말번호 확인</label>
							<input id="passwordConfirm" type="password" maxlength="16" minlength="8" class="form-control"placeholder="비밀번호 확인 입력 " autocomplete="new-password">
							<div class="invalid-feedback" data-sb-feedback="passwordConfirm:required">비밀번호 확인을 입력해주세요.</div>
						</div>
						<!-- 이름 -->
						<div class="form-group">
						<label class="control-label" for="signupName">이름</label>
							<input id="usrNm" name="usrNm" type="text" maxlength="50" class="form-control"placeholder="이름 입력" autocomplete="off">
							<div class="invalid-feedback" data-sb-feedback="email:required">이메일을 입력해주세요.</div>
						</div>
						<!-- 성별 -->
						<div class="d-flex align-items-center mb-4">
							<span style="margin-right: 10px;">성별</span>
							<div class="form-check" style="margin-right: 10px;">
								<input class="form-check-input" id="genderM" name ="gender" type="checkbox" th:value="M"   />
								<label class="form-check-label" for="invalidCheck">남 </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="genderF" name="gender" type="checkbox" th:value="F"   />
								<label class="form-check-label" for="invalidCheck">여</label>
							</div>
						</div>
						<!-- 채팅 유무 -->
						<div class="d-flex align-items-center mb-4">
							<span style="margin-right: 10px;">채팅</span>
							<div class="form-check" style="margin-right: 10px;">
								<input class="form-check-input" id="chatChk1" name ="chatChk" type="checkbox" th:value="Y"   />
								<label class="form-check-label" for="invalidCheck">예 </label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="chatChk2" name="chatChk" type="checkbox" th:value="N"   />
								<label class="form-check-label" for="invalidCheck">아니요</label>
							</div>
						</div>
						<!-- 생년월일 -->
						<div class="form-group">
							<label class="control-label" for="signupName">생년월일(8자리)</label>
							<input id="birthDate" name="birthDate" type="text" maxlength="10" class="form-control"placeholder="생년월일 입력" autocomplete="off">
							<div class="invalid-feedback" data-sb-feedback="email:required">생년월일 8자리를 입력해주세요.</div>
						</div>

						<!-- 휴대전화번호 -->
						<div class="form-group">
							<label class="control-label" for="signupName">휴대전화</label>
				            <select class="form-control" id="countryPhNo" name="countryPhNo" style="text-align: center;">
							    <option th:each="item : ${yourDataList}" th:value="${item.value}" th:text="${item.text}"></option>
							</select>
							<div class="row">
								<div class="col-xl-12" style="display: flex; align-items: center;">
						            <input id="phoneNumber" type="phone" name="phoneNumber" class="form-control mr-2" style="flex: 1;" placeholder="전화번호 입력해주세요.(-제외)" autocomplete="off">
						            <button type="button" class="btn btn-primary btn-lg border-0 fw-bold" id="authReq"
						                    style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif; width: auto; font-size: 14px; width: 23%;">
						                인증요청
						            </button>
						        </div>
							</div>
							<input id="authNo" name= "authNo" type="text" maxlength="4" class="form-control" placeholder="인증번호 입력" autocomplete="off">
							<div class="invalid-feedback" data-sb-feedback="authNo:required">인증번호 입력 해주세요</div>
						</div>



						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-lg btn-block border-0 fw-bold" id="joinBtn"
							style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif;">회원가입</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>

</html>