<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
	<script th:src="@{/assets/js/account/login.js}"></script>
	<meta charset="EUC-KR">
	<title>login</title>
	<style>
		/* 버튼클릭시 outline사라짐 */
		btn:focus {
			outline: none;
		}
	
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container py-5">
			<div class="row gx-5 align-items-center justify-content-center">
				<div class="col-md-8 col-lg-7 col-xl-6">
					<img th:src="@{/vendor/third/img/login_pic.png}" class="img-fluid w-100" style="margin-right: 70px;" alt="Phone image">
				</div>
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="right: 100px;">
					<!--login form-->
					<form id="loginForm" style="">	
						<input type="text" th:value="${kakaoApiKey}">
						<input type="text" th:value="${redirectUri}">

						<div class="d-flex justify-content-between align-items-center mb-4">
							<!-- 회원가입 -->
							<label class="form-label fw-bold" for="form1Example3"
								style="font-size: 25px; font-family: 'Noto Sans KR', sans-serif;">로그인 </label>
						</div>
						<!-- Email input -->
						<div class="form-floating mb-3">
							<input class="form-control" id="username" type="text" placeholder=""
								data-sb-validations="required" data-sb-can-submit="no" autocomplete="off" />
							<label for="username">아이디(이메일)</label>
							<div class="invalid-feedback" data-sb-feedback="username:required">이메일을 입력해주세요.</div>
						</div>
						<!-- Password input -->
						<div class="form-floating mb-3">
							<input class="form-control" id="password" type="password" placeholder=""
								data-sb-validations="required" data-sb-can-submit="no"
								autocomplete="current-password" />
							<label for="password">비밀번호</label>
							<div class="invalid-feedback" data-sb-feedback="password:required">비밀번호를 입력해주세요.</div>
						</div>
						<div class="d-flex justify-content-between align-items-center mb-4">
							<!-- 아이디및 비밀번호 찾기 -->
							<div class="d-flex">
								<a class="nav-link" href="/account/join"
									style="font-family: 'Noto Sans KR', sans-serif; ">회원가입</a>
							</div>
							<div class="d-flex">
								<a class="nav-link me-2" href="#!"
									style="font-size: 12px; font-family: 'Noto Sans KR', sans-serif;">아이디찾기</a>
								<span style="font-size: 12px;">|</span>
								<a class="nav-link ms-2" href="#!"
									style="font-size: 12px; font-family: 'Noto Sans KR', sans-serif;">비밀번호찾기</a>
							</div>
						</div>

						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-lg btn-block border-0 fw-bold" id="loginBtn"
							style="background-color: #000000; font-family: 'Noto Sans KR', sans-serif;">로그인</button>
					</form>
					<div class="divider d-flex align-items-center my-1">
						<p class="text-center fw-bold mx-3 mb-0 text-muted"
							style="font-family: 'Noto Sans KR', sans-serif;">또는</p>
					</div>
					
					<!-- 다른계정으로 로그인-->
					<a class="btn btn-primary btn-lg btn-block m-b-20"
						style="background-color: #FFEB00; color: #000000; display: flex; align-items: center; justify-content: center;"
						href="/oauth2/authorization/kakao" role="button">
						<div style="display: flex; align-items: center;">
							<img th:src="@{/vendor/third/img/g-kakao.png}"
								style="width: 24px; height: 24px; position: relative; left: -5px;" />
							<span class="fw-bold" style="font-family: 'Lato', sans-serif;">kakao 로그인</span>
						</div>
					</a>
					<a class="btn btn-primary btn-lg btn-block m-b-20"
						style="background-color: #03C75A; color: #ffffff; display: flex; align-items: center; justify-content: center;"
						href="/oauth2/authorization/naver" role="button">
						<div style="display: flex; align-items: center;">
							<img th:src="@{/vendor/third/img/g-naver.png}"
								style="width: 24px; height: 24px; position: relative; left: -5px;" />
							<span class="fw-bold" style="font-family: 'Lato', sans-serif;">NAVER 로그인</span>
						</div>
					</a>
					<a class="btn btn-primary btn-lg btn-block m-b-20"
						style="background-color: #f0f0f0; color: #757575; display: flex; align-items: center; justify-content: center;"
						href="/oauth2/authorization/google" role="button">
						<div style="display: flex; align-items: center;">
							<img th:src="@{/vendor/third/img/g-google.png}"
								style="width: 24px; height: 24px; margin-right: 5px;" />
							<span class="fw-bold" style="font-family: 'Lato', sans-serif;">GooGle 로그인</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>