<html lang="" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerbar">
	<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<input type="hidden" id="restServer" th:value="${restServer}" />
            <div class="container fluid">
                <a class="navbar-brand" href="/" >
                      <svg class="svg">
					    <text x="5" y="30">공식</text>
					  </svg>
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 mr-1" id="menuList"> <!-- 중앙 정렬 -->
                    </ul>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0"> <!-- 오른쪽 정렬 -->
                     	<li class="nav-item search"><a class="nav-link" href="pricing.html"><img th:src="@{/vendor/third/img/g-search.png}"/></a></li>
                        <li class="nav-item profile"><a class="nav-link" href="/account/login"><img th:src="@{/vendor/third/img/g-profile.png}"/></a></li>
                        <li class="nav-item chat"><a class="nav-link" href="faq.html"><img th:src="@{/vendor/third/img/g-chat.png}"/></a></li>
                        <li class="nav-item notice"><a class="nav-link" href="faq.html"><img th:src="@{/vendor/third/img/g-notice.png}"/></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        </header>
    </th:block>
</html>
