@charset "EUC-KR";

     
/* 화살표 숨기기 */
.dropdown-toggle::after {
  display: none;
}

/* 공식 수정 */
.svg {
      width: 70px;
      height: 40px;
      background-color: transparent;
    }
    
text {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  fill: #000000;
}

/* 네비게이션  */
.nav-item{
    font-family: 'Arial', sans-serif; /* 폰트 변경 */
    font-weight: bold; /* 글씨체를 볼드로 변경 */
    font-size: 1.2em;
    color: #FF0000; /* 회색으로 색상 변경 */
    margin-right: 10px; /* 우측 여백을 조절할 수 있습니다. */
    margin-left: 10px; /* 좌측 여백을 조절할 수 있습니다. */
    }




.search,
.profile,
.chat,
.notice {
    margin-right: 0; /* 선택한 클래스들에는 여백을 주지 않습니다. */
    margin-left: 0; /* 선택한 클래스들에는 여백을 주지 않습니다. */
}

.navbar {
        border-bottom: 1px solid #999999; /* 아래쪽 테두리를 회색으로 변경 */
    }
.menus {
	visibility: hidden;
}

/* 선 표시 */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #ccc;
}

/*클릭시 테두리 색깔 */
.btn:active, .btn:focus {  box-shadow: none !important; }

/* input label 색상 변경*/
.form-floating label {
  color: #999; 
}


/* 모달 스타일 */
.modal-header {
    width: 100%; /* 최대 너비를 지정할 수도 있습니다. */
}

.modal-content {
	width: 650px;
	height: 650px;
}

#delvAdd {
    top: 80px;
    left: -3%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

