<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<style>
		.card {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.card-body {
			flex-grow: 1;
		}

		textarea {
			border-color: #ccc;
			/* 원하는 연한 색상으로 변경 */
			/* 다른 스타일 속성들도 필요하면 추가하세요 */
		}

		.list-group-item {
			display: flex;
			flex-direction: column;
			/* 세로로 배치 */
			align-items: flex-start;
			/* 왼쪽 정렬 (수직 방향 정렬) */
		}

		.name-content {
			display: flex;
		}

	</style>
	<script th:src="@{/assets/js/posts/postsDetail.js}"></script>
	<script type="text/javascript" src="/vendor/third/js/ckeditor.js" charset="utf-8"></script>
	<meta charset="EUC-KR">
	<title th:text="${postsNm}"></title>
</head>

<div layout:fragment="content">
	<div class="container py-5">
		<input type="hidden" th:value="${postsNo}" id="itemKey" name="itemKey">
		<input type="hidden" th:value="${postsNm}" id="postsNm" name="postsNm">

		<div class="d-flex flex-column align-items-left mb-4">
			<label class="form-label fw-bold" style="font-size: 40px; font-family: 'Noto Sans KR', sans-serif;"
				th:text="${postsNm}"></label>
			<span class=""style="font-size: 0.8em; margin-top: -10px;margin-left:5px">
				<span id="postsUsrNm"></span>
				<span id="postsDate"></span>
				<span id="postsViewCnt"></span>
			</span>
		</div>



		<div class="divider d-flex align-items-center my-3" style="width: 100%;">
		</div>

		<div class="postsDetail bg-gray-f6 px-4 py-3 flex-grow-1 border p-3 m-1 col-md-12" style="min-height: 500px; ">

		</div>

		<div class="replayList bg-gray-f6 px-4 py-3 flex-grow-1 border p-3 m-1 col-md-12" style="min-height: 200px; ">
			<label class="form-label fw-bold" style="font-size: 20px; font-family: 'Noto Sans KR', sans-serif;"> 댓글
			</label>
			<ul class="reviews list-group list-group-flush">

			</ul>
		</div>

		<div class="reviewForm bg-gray-f6 px-4 py-3 flex-grow-1 border p-3 m-1 col-md-12" style="min-height: 200px; ">
			<span> 댓글 작성</span>
			<div class="mt-2" style="height: 100px; width: 100%;">
				<textarea id="reviewText" style="height: 100%; width: 100%;"></textarea>
				<button type="submit"
					class="btn btn-primary btn-sm btn-block fw-bold border-left border-right border-top border-bottom"
					id="reviewBtn"
					style="background-color: rgba(3, 199, 90, 0.12); font-family: 'Noto Sans KR', sans-serif; color: #009f47; border-radius: 0; width: 50px; height: 40px;margin-right: 10px;">
					등록
				</button>
			</div>
		</div>

		<div class="postsBtn d-flex justify-content-end" style="height: 200px;">
			<button type="submit"
				class="btn btn-primary btn-xg btn-block fw-bold border-left border-right border-top border-bottom"
				id="modiBtn"
				style="background-color: rgba(3, 199, 90, 0.12); font-family: 'Noto Sans KR', sans-serif; color: #009f47; border-radius: 0; width: 150px; height: 40px; margin-top:8.3px;margin-right: 10px;">
				수정
			</button>
			<button type="submit"
				class="btn btn-primary btn-xg btn-block fw-bold border-left border-right border-top border-bottom"
				id="delBtn"
				style="background-color: rgba(3, 199, 90, 0.12); font-family: 'Noto Sans KR', sans-serif; color: #009f47; border-radius: 0; width: 150px; height: 40px">
				삭제
			</button>
		</div>

	</div>
</div>

</html>